.slider::before {
  position: absolute;
  content: '';
  height: 30px;
  width: 30px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 100%;
}


input:checked + .slider {
  background-color: gray;
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(38px);
}
